echo hello world
System.out.println("hello world");
printf("hello world");
print 'hello world'
<body>hello world</body>
document.write("hello world")
print "hello world\n";
std::cout << "hello world" << std::endl